// navbar section style start
@import "var";
@import "mixin";

//
.onScroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  padding: 0.4rem 0;
}
.section_navbar {
  .nav-center {
    // display: grid;
    // grid-template-columns: auto 1fr auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1024px) {
    }
    .nav-header {
    }
    .navlinks-container {
    }
    .nav-icons {
      // border: 2px solid orangered;
      .src-box {
        input {
          &:focus {
            outline: none;
            padding: 0 0.5rem;
            border: 2px solid $primary_color;
          }
        }
      }
    }
  }
}

// navbar section style end

// sidebar style start
.sidebar-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 222;
}
// sidebar style end

// modal style start

.modal-container {
  position: fixed;
  .modal-bg {
    z-index: 1;
  }
  .modal-content-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
// modal style end

// deleteModal style start
.delete-modal-container {
  position: fixed;
  z-index: 222;
  top: 0%;
  left: 0%;
  .delete-modal-content-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// deleteModal style end
// cartItems style start

.cartItems-container {
  z-index: 111;
  .cartItem-box {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
}

// cartItems style end
// Home slider style start

.slide_home {
  background-position: right 15%;
  background-repeat: no-repeat;
  object-fit: cover;
  @media (max-width: 850px) {
    background-position: 0% 32%;
    background-size: 133%;
  }
  .info-box {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    flex-direction: column;
    @include dFlex(flex-start, center);
    @media (max-width: 575px) {
      width: 340px;
      min-height: 306px;
    }
    @media (max-width: 767px) {
      min-height: 320px;
      @include dFlex(center);
    }
    @media (max-width: 991px) {
    }
    @media (max-width: 1199px) {
      min-height: 556px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      width: 540px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 720px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 940px;
    }
    @media (min-width: 1200px) {
      width: 1140px;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Home slider style end
// footer style start
.section_footer {
  .footer_center {
    .box-address {
      .phone {
        border: 1px solid gray;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// footer style end
// loading style start
.wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}

// loading style end
